<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta charset="UTF-8" />
    <title>&#129531;&#128293; Toilettenpapieralarm.de &ndash; Verfügbarkeit von online bestellbarem Toilettenpapier -
        sofort lieferbar! #WirGegenCorona #BleibtZuhause</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-54LC8BR');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <div class="logo-container centered">
        <a href="/" class="logo">&#129531;&#128293; Toilettenpapieralarm.de</a>
    </div>
    <div class="centered">
        <h1>Datenschutzbestimmungen</h1>

        <div class="legal">
            <h2>Informationen über die Verarbeitung Ihrer Daten gemäß Art. 13 der
                Datenschutzgrundverordnung (DSGVO)</h2>

            <p>Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO),
                ist:</p>
            <p>
                <%= address_line_1 %><br />
                <%= address_line_2 %><br />
                <%= address_line_3 %><br />
                E-Mail: <%= address_line_5 %>
            </p>
            <h2>Ihre Betroffenenrechte</h2>
            <p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte
                ausüben:</p>
            <ul>
                <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
                <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
                <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
                <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch
                    nicht löschen dürfen (Art. 18 DSGVO),</li>
                <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
                <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit
                    uns abgeschlossen haben (Art. 20 DSGVO).</li>
            </ul>
            <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft
                widerrufen.</p>
            <p>Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die zuständige
                Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als verantwortliche Stelle
                zuständige Behörde.</p>
            <p>Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter <a
                    href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
                    target="_blank" rel="nofollow noopener">folgendem Link</a>.</p>
            <p></p>
            <h2>Erfassung allgemeiner Informationen beim Besuch unserer Website</h2>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht registrieren oder anderweitig
                Informationen übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese
                Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem,
                den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches. </p>
            <p>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
            <ul>
                <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
                <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
                <li>Analyse von Website-Traffic und Besucherzahlen,</li>
                <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
                <li>zu weiteren administrativen Zwecken.</li>
            </ul>
            <p>Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen. Informationen dieser Art
                werden von uns ggfs. statistisch ausgewertet, um unseren Internetauftritt und die dahinterstehende
                Technik zu optimieren.</p>
            <h3>Rechtsgrundlage:</h3>
            <p>Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an
                der Verbesserung der Stabilität und Funktionalität unserer Website.</p>
            <h3>Empfänger:</h3>
            <p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer
                Webseite als Auftragsverarbeiter tätig werden.</p>
            <h3>Speicherdauer:</h3>
            <p>Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind. Dies ist
                für die Daten, die der Bereitstellung der Webseite dienen, grundsätzlich der Fall, wenn die jeweilige
                Sitzung beendet ist.</p>
            <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
            <p>Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich
                vorgeschrieben. Ohne die IP-Adresse ist jedoch der Dienst und die Funktionsfähigkeit unserer Website
                nicht gewährleistet. Zudem können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein.
                Aus diesem Grund ist ein Widerspruch ausgeschlossen. </p>
            <p></p>
            <h2>Cookies</h2>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Bei Cookies handelt es sich um
                kleine Textdateien, die auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn
                Sie unsere Webseite besuchen. </p>
            <p>Hierdurch erhalten wir bestimmte Daten wie z. B. IP-Adresse, verwendeter Browser und Betriebssystem.</p>
            <p>Cookies können nicht verwendet werden, um Programme zu starten oder Viren auf einen Computer zu
                übertragen. Anhand der in Cookies enthaltenen Informationen können wir Ihnen die Navigation erleichtern
                und die korrekte Anzeige unserer Webseiten ermöglichen.</p>
            <p>In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben oder ohne Ihre Einwilligung
                eine Verknüpfung mit personenbezogenen Daten hergestellt.</p>
            <p>Natürlich können Sie unsere Website grundsätzlich auch ohne Cookies betrachten. Internet-Browser sind
                regelmäßig so eingestellt, dass sie Cookies akzeptieren. Im Allgemeinen können Sie die Verwendung von
                Cookies jederzeit über die Einstellungen Ihres Browsers deaktivieren. Bitte verwenden Sie die
                Hilfefunktionen Ihres Internetbrowsers, um zu erfahren, wie Sie diese Einstellungen ändern können. Bitte
                beachten Sie, dass einzelne Funktionen unserer Website möglicherweise nicht funktionieren, wenn Sie die
                Verwendung von Cookies deaktiviert haben.</p>
            <h3>Speicherdauer und eingesetzte Cookies:</h3>
            <p>Soweit Sie uns durch Ihre Browsereinstellungen oder Zustimmung die Verwendung von Cookies erlauben,
                können folgende Cookies auf unseren Webseiten zum Einsatz kommen:</p>
            <table>
                <thead>
                    <td>Name</td>
                    <td>Funktion</td>
                    <td>Speicherdauer</td>
                </thead>
                <tr>
                    <td>cookieconsent_status</td>
                    <td>Erfassung des Cookie-Einwilligungsstatus</td>
                    <td>12 Monate</td>
                </tr>
                <tr>
                    <td>_ga</td>
                    <td>Google Analytics, s.u.</td>
                    <td><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=en"
                            target="_blank" rel="nofollow noopener">siehe Link</a></a></td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>Google Analytics, s.u.</td>
                    <td><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=en"
                            target="_blank" rel="nofollow noopener">siehe Link</a></a></td>
                </tr>
                <tr>
                    <td>_gat_UA-162378524-1</td>
                    <td>Google Analytics, s.u.</td>
                    <td><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=en"
                            target="_blank" rel="nofollow noopener">siehe Link</a></a></td>
                </tr>
            </table>
            <p></p>
            <p>Soweit diese Cookies (auch) personenbezogene Daten betreffen können, informieren wir Sie darüber in den
                folgenden Abschnitten.</p>
            <p>Sie können Ihre Einwilligung zur Speicherung von Cookies jederzeit in den <a href="#!"
                    class="btn-revokeChoice">Cookie-Einstellungen</a> ändern.</p>
            <p>Sie können über Ihre Browsereinstellungen einzelne Cookies oder den gesamten Cookie-Bestand löschen.
                Darüber hinaus erhalten Sie Informationen und Anleitungen, wie diese Cookies gelöscht oder deren
                Speicherung vorab blockiert werden können. Je nach Anbieter Ihres Browsers finden Sie die notwendigen
                Informationen unter den nachfolgenden Links:</p>
            <ul>
                <li>Mozilla Firefox: <a
                        href="https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen"
                        target="_blank"
                        rel="nofollow noopener">https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</a>
                </li>
                <li>Internet Explorer: <a
                        href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies"
                        target="_blank"
                        rel="nofollow noopener">https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a>
                </li>
                <li>Google Chrome: <a href="https://support.google.com/accounts/answer/61416?hl=de" target="_blank"
                        rel="nofollow noopener">https://support.google.com/accounts/answer/61416?hl=de</a></li>
                <li>Opera: <a href="http://www.opera.com/de/help" target="_blank"
                        rel="nofollow noopener">http://www.opera.com/de/help</a></li>
                <li>Safari: <a href="https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE" target="_blank"
                        rel="nofollow noopener">https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE</a>
                </li>
            </ul>
            <p></p>
            <h2>E-Mail-Benachrichtigungen</h2>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Ihre Daten werden ausschließlich dazu verwendet, Ihnen abonnierte Benachrichtigungen per E-Mail
                zuzustellen.</p>
            <p>Für den Empfang der E-Mail-Benachrichtigungen ist die Angabe Ihrer E-Mail-Adresse ausreichend. Bei der
                Anmeldung zum Bezug unserer
                E-Mail-Benachrichtigungen werden die von Ihnen angegebenen Daten ausschließlich für diesen Zweck
                verwendet. Abonnenten können auch
                über Umstände per E-Mail informiert werden, die für den Dienst oder die Registrierung relevant sind
                (bspw.
                Änderungen der E-Mail-Benachrichtigungen oder technische Gegebenheiten).</p>
            <p>Für eine wirksame Registrierung benötigen wir eine valide E-Mail-Adresse. Um zu überprüfen, dass eine
                Anmeldung
                tatsächlich durch den Inhaber einer E-Mail-Adresse erfolgt, setzen wir das „Double-opt-in“-Verfahren
                ein. Hierzu
                protokollieren wir die Bestellung der E-Mail-Benachrichtigungen, den Versand einer Bestätigungsmail und
                den Eingang der hiermit
                angeforderten Antwort. Weitere Daten werden nicht erhoben. Die Daten werden ausschließlich für den
                Versand der E-Mail-Benachrichtigungen
                verwendet und nicht an Dritte weitergegeben.</p>
            <h3>Rechtsgrundlage:</h3>
            <p>Auf Grundlage Ihrer ausdrücklich erteilten Einwilligung (Art. 6 Abs. 1 lit. a DSGVO), übersenden wir
                Ihnen regelmäßig
                E-Mail-Benachrichtigungen bzw. vergleichbare Informationen per E-Mail an Ihre angegebene E-Mail-Adresse.
            </p>
            <h3>Empfänger:</h3>
            <p>Diese Website nutzt über eine API-Schnittstelle die Dienste von Mailgun um den sicheren Versand und die
                verifizierte
                Zustellung von automatisierten E-Mail-Bestätigungen und E-Mail-Benachrichtigungen zu gewährleisten.
                Anbieter ist die
                Mailgun
                Technologies, Inc. 548 Market St., 43099 San Francisco, California 94104, USA
                (Auftragsdatenverarbeiter).
                Beim Versand von E-Mails wird Ihre E-Mail-Adresse an die Server von Mailgun in den USA übermittelt und
                in den
                Logfiles
                von Mailgun gespeichert. Der Versand der E-Mails erfolgt nach Angaben von
                Mailgun dabei ausschließlich über Rechenzentren innerhalb der EU. Dieser Service kann auch Daten darüber
                sammeln, an
                welchem Datum und zu welcher Uhrzeit Nachrichten vom Nutzer gelesen wurden, sowie darüber, wann der
                Nutzer mit
                eingehenden Nachrichten interagiert (z.B. durch klicken auf darin enthaltene Links). Mailgun löscht alle
                empfangenen Daten nach
                30 Tagen automatisch.
                Die Nutzung von Mailgun erfolgt im Interesse einer einheitlichen und sicheren Kommunikation mit unseren
                Kunden –
                dies stellt ein berechtigtes Interesse im Sinne von
                Art. 6 Abs. 1 lit. f DSGVO dar. Mailgun ist unter dem EU-US Privacy Shield zertifiziert.
                Weitere Informationen entnehmen Sie den Datenschutzbestimmungen von Mailgun unter: <a
                    href="https://www.mailgun.com/privacy-policy/">https://www.mailgun.com/privacy-policy/</a>.</p>
            <h3>Speicherdauer:</h3>
            <p>Die Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende Einwilligung vorliegt.
                Danach
                werden sie gelöscht.</p>
            <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
            <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer Einwilligung.
                Ohne
                bestehende Einwilligung können wir Ihnen unsere E-Mail-Benachrichtigungen leider nicht zusenden.</p>
            <h3>Widerruf der Einwilligung:</h3>
            <p>Die Einwilligung zur Speicherung Ihrer persönlichen Daten und ihrer Nutzung der
                E-Mail-Benachrichtigungsfunktion können Sie
                jederzeit mit Wirkung für die Zukunft widerrufen. In jeder E-Mail-Benachrichtigung findet sich dazu ein
                entsprechender Link.
                Außerdem können Sie sich jederzeit auch direkt auf dieser Website abmelden oder uns Ihren Widerruf über
                die am Ende
                dieser Datenschutzhinweise angegebene Kontaktmöglichkeit mitteilen.</p>

            <h2>Hosting-Dienstleister</h2>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Zur Verarbeitung und Speicherung Ihrer Daten nutzen wir als Hosting-Anbieter Heroku. Heroku, Inc., 50
                Fremont St.,
                Suite 300, San Francisco, California 94105, USA, ist eine Tochtergesellschaft von Salesforce.com. Die
                von Heroku bereitgestellten Server und Datenbanken stehen in Irland/Europa und unterliegen europäischen
                Datenschutzbestimmungen. Wir können nicht ausschließen, dass eine Datenübertragung in die
                USA stattfindet. Weitere Informationen zu den Datenschutzbestimmungen von Heroku
                finden Sie unter <a
                    href="https://www.heroku.com/policy/privacy/">https://www.heroku.com/policy/privacy/</a>.</p>
            <h3>Rechtsgrundlage:</h3>
            <p>Rechtsgrundlage für die Verarbeitung Ihrer Daten ist Art. 6 Abs.1 lit. a), b), f) DSGVO, die Wahrung
                unserer
                berechtigten Interessen, Ihre Einwilligung und die Erfüllung unserer vertraglichen Pflichten. Das
                berechtigte
                Interesse erschließt sich aus der Aufrechterhaltung und Darbietung unserer Services.</p>
            <h3>Empfänger:</h3>
            <p>Empfänger der Daten ist Heroku, Inc., 50 Fremont St., Suite 300, San Francisco, California 94105
                (Auftragsdatenverarbeiter).</p>
            <h3>Drittlandtransfer:</h3>
            <p>Salesforce und Heroku sind unter dem EU-US Privacy Shield zertifiziert. Weitere Informationen dazu <a
                    href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Privacy/privacy-shield-notice.pdf">finden
                    Sie hier</a>.</p>
            <h3>Speicherdauer:</h3>
            <p>Die in diesem Zusammenhang
                anfallenden Daten löschen wir, nachdem die Speicherung nicht mehr erforderlich ist, oder schränken die
                Verarbeitung
                ein, falls gesetzliche Aufbewahrungspflichten bestehen.</p>
            <h2>Verwendung von Google Analytics</h2>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google LLC, 1600 Amphitheatre Parkway,
                Mountain View, CA 94043 USA (nachfolgend: „Google“). Google Analytics verwendet sog. „Cookies“, also
                Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Webseite
                durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite
                werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Aufgrund der
                Aktivierung der IP-Anonymisierung auf diesen Webseiten, wird Ihre IP-Adresse von Google jedoch innerhalb
                von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den
                Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen
                Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird
                Google diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die
                Webseitenaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
                verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. Die im Rahmen von Google
                Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google
                zusammengeführt.</p>
            <p>Die Zwecke der Datenverarbeitung liegen in der Auswertung der Nutzung der Website und in der
                Zusammenstellung von Reports über Aktivitäten auf der Website. Auf Grundlage der Nutzung der Website und
                des Internets sollen dann weitere verbundene Dienstleistungen erbracht werden.</p>
            <h3>Rechtsgrundlage:</h3>
            <p>Die Verarbeitung der Daten erfolgt auf Grundlage einer Einwilligung des Nutzers (Art. 6 Abs. 1 lit. a
                DSGVO).</p>
            <h3>Empfänger:</h3>
            <p>Empfänger der Daten ist Google als Auftragsverarbeiter. Hierfür haben wir mit Google den entsprechenden
                Auftragsverarbeitungsvertrag abgeschlossen.</p>
            <h3>Speicherdauer:</h3>
            <p>Die Löschung der Daten erfolgt, sobald diese für unsere Aufzeichnungszwecke nicht mehr erforderlich sind.
            </p>
            <h3>Drittlandtransfer:</h3>
            <p>Google verarbeitet Ihre Daten in den USA und hat sich dem EU-US Privacy Shield unterworfen <a
                    href="https://www.privacyshield.gov/EU-US-Framework">https://www.privacyshield.gov/EU-US-Framework</a>.
            </p>
            <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
            <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer Einwilligung.
                Sofern Sie den Zugriff unterbinden, kann es hierdurch zu Funktionseinschränkungen auf der Website
                kommen.</p>
            <h3>Widerruf der Einwilligung:</h3>
            <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software
                verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
                Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung
                der durch das Cookie erzeugten und auf Ihre Nutzung der Webseite bezogenen Daten (inkl. Ihrer
                IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter
                dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a
                    href="http://tools.google.com/dlpage/gaoptout?hl=de">Browser Add On zur Deaktivierung von Google
                    Analytics</a>.</p>
            <p>Zusätzlich oder als Alternative zum Browser-Add-On können Sie das Tracking durch Google Analytics auf
                unseren Seiten unterbinden, indem Sie <a title="Google Analytics Opt-Out-Cookie setzen"
                    onClick="gaOptout();alert('Google Analytics wurde deaktiviert.');" href="#!">diesen Link
                    anklicken</a>. Dabei wird ein Opt-out-Cookie auf Ihrem Gerät installiert. Damit wird die Erfassung
                durch Google Analytics für diese Website und für diesen Browser zukünftig verhindert, so lange das
                Cookie in Ihrem Browser installiert bleibt.</p>
            <h3>Profiling:</h3>
            <p>Mit Hilfe des Tracking-Tools Google Analytics kann das Verhalten der Besucher der Webseite bewertet und
                die Interessen analysiert werden. Hierzu erstellen wir ein pseudonymes Nutzerprofil.</p>
            <p></p>
            <h2>Google AdWords</h2>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Unsere Webseite nutzt das Google Conversion-Tracking. Betreibergesellschaft der Dienste von Google
                AdWords ist die Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. Sind Sie über eine
                von Google geschaltete Anzeige auf unsere Webseite gelangt, wird von Google Adwords ein Cookie auf Ihrem
                Rechner gesetzt. Das Cookie für Conversion-Tracking wird gesetzt, wenn ein Nutzer auf eine von Google
                geschaltete Anzeige klickt.</p>
            <p>Besucht der Nutzer bestimmte Seiten unserer Website und das Cookie ist noch nicht abgelaufen, können wir
                und Google erkennen, dass der Nutzer auf die Anzeige geklickt hat und zu dieser Seite weitergeleitet
                wurde. Jeder Google AdWords-Kunde erhält ein anderes Cookie. Cookies können somit nicht über die
                Websites von AdWords-Kunden nachverfolgt werden. Die mithilfe des Conversion-Cookies eingeholten
                Informationen dienen dazu, Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für
                Conversion-Tracking entschieden haben. Die Kunden erfahren die Gesamtanzahl der Nutzer, die auf ihre
                Anzeige geklickt haben und zu einer mit einem Conversion-Tracking-Tag versehenen Seite weitergeleitet
                wurden. Sie erhalten jedoch keine Informationen, mit denen sich Nutzer persönlich identifizieren lassen.
            </p>
            <h3>Rechtsgrundlage:</h3>
            <p>Rechtsgrundlage für die Einbindung von Google AdWords und dem damit verbundenen Datentransfer zu Google
                ist Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).</p>
            <h3>Empfänger:</h3>
            <p>Bei jedem Besuch unsere Webseite werden personenbezogene Daten, einschließlich Ihrer IP-Adresse an Google
                in die USA übertragen. Diese personenbezogenen Daten werden durch Google gespeichert. Google gibt diese
                über das technische Verfahren erhobenen personenbezogenen Daten unter Umständen an Dritte weiter.</p>
            <p>Unser Unternehmen enthält keine Informationen von Google, mittels derer die betroffene Person
                identifiziert werden könnte.</p>
            <h3>Speicherdauer:</h3>
            <p>Diese Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung.
            </p>
            <h3>Drittlandtransfer:</h3>
            <p>Google verarbeitet Ihre Daten in den USA und hat sich dem EU-US Privacy Shield unterworfen <a
                    href="https://www.privacyshield.gov/EU-US-Framework">https://www.privacyshield.gov/EU-US-Framework</a>.
            </p>
            <h3>Widerruf der Einwilligung:</h3>
            <p>Möchten Sie nicht am Tracking teilnehmen, können Sie das hierfür erforderliche Setzen eines Cookies
                ablehnen – etwa per Browser-Einstellung, die das automatische Setzen von Cookies generell deaktiviert
                oder Ihren Browser so einstellen, dass Cookies von der Domain „googleleadservices.com“ blockiert werden.
            </p>
            <p>Bitte beachten Sie, dass Sie die Opt-out-Cookies nicht löschen dürfen, solange Sie keine Aufzeichnung von
                Messdaten wünschen. Haben Sie alle Ihre Cookies im Browser gelöscht, müssen Sie das jeweilige Opt-out
                Cookie erneut setzen.</p>
            <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
            <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer Einwilligung.
                Sofern Sie den Zugriff unterbinden, kann es hierdurch zu Funktionseinschränkungen auf der Website
                kommen.</p>
            <h2>SSL-Verschlüsselung</h2>
            <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der
                Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
            <p></p>
            <h2>Änderung unserer Datenschutzbestimmungen</h2>
            <p>Wir behalten uns vor, diese Datenschutzbestimmungen anzupassen, damit sie stets den aktuellen rechtlichen
                Anforderungen entspricht oder um Änderungen unserer Leistungen in den Datenschutzbestimmungen
                umzusetzen,
                z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gelten dann die neue
                Datenschutzbestimmungen.</p>
            <h2>Fragen an den Datenschutzbeauftragten</h2>
            <p>Wenn Sie weitere Fragen zum Datenschutz haben, schreiben Sie uns bitte eine Nachricht an die im <a
                    href="/impressum">Impressum</a> aufgeführte Adresse.</p>
            <p></p>
            <p><em>Diese Datenschutzbestimmungen wurde mithilfe der activeMind AG erstellt, den Experten für <a
                        href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank"
                        rel="noopener">externe Datenschutzbeauftragte</a>.</em></p>
        </div>

        <div class="copyright centered">

			Made with &hearts; in Düsseldorf.<br>
			<a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a> | <a href="#!"
				class="btn-revokeChoice">Cookie-Einstellungen</a> | <a
				href="https://github.com/ConcurrentHashMap/toilettenpapieralarm.de" target="_blank">Mithelfen</a>
		</div>
    </div>
    <script type="text/javascript" src="/cookies.js"></script>
</body>

</html>