<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
	<meta charset="UTF-8" />
	<title>&#129531;&#128293; Toilettenpapieralarm.de &ndash; Verfügbarkeit von online bestellbarem Toilettenpapier -
		sofort lieferbar! #WirGegenCorona #BleibtZuhause</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" type="text/css" href="/app.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">
	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				}); var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-54LC8BR');</script>
	<!-- End Google Tag Manager -->
</head>

<body>
	<div class="container">
		<div class="logo-container centered">
			<a href="/" class="logo">&#129531;&#128293; Toilettenpapieralarm.de</a>
		</div>

		<div class="content" id="app">
			<div class="inner">
				<div class="big centered">
					<div v-if="availability.available">
						<b class="block">Lass dich per E-Mail benachrichtigen</b>
						<span class="bigger" style="line-height: 10rem">🔔</span>
					</div>				
				</div>
				<div class="small centered">
					<div>
						<p>Der Verfügbarkeitsstatus von Produkten kann sich gegebenenfalls sehr schnell ändern. *<br>Möchtest du <b>sofort</b>
							benachrichtigt werden?</p>
						<form class="subscribe" action="/subscribe" method="POST">
							<input type="email" id="email" name="email" placeholder="Deine E-Mail-Adresse" tabindex="1"
								required>
							<label class="terms">
								<input type="checkbox" id="acceptedTerms" name="acceptedTerms" value="true" tabindex="2"
									required>
								Ich habe die <a href="/datenschutz" target="_blank">Datenschutzbestimmungen</a> gelesen
								und akzeptiert.
							</label>
							<input type="submit" value="Ich möchte benachrichtigt werden!" tabindex="3">
							<p class="smallest">Nach der Bestätigung deiner E-Mail-Adresse erhältst du
								Benachrichtigungen, sobald sich der
								Verfügbarkeitsstatus ändert. Die Abmeldung ist jederzeit möglich.</p>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright centered">
			<div class="hashtags centered">#WirGegenCorona #BleibtZuhause</div>

			<div class="notes smaller centered">* Ergebnis der Abfrage der Verfügbarkeit von ausgewählten Produkten bei
				ausgewählten Onlineversandhändlern. Der Status der Verfügbarkeit kann sich gegebenfalls sehr kurzfristig
				ändern. Alle Angaben ohne Gewähr! Alle Produktbezeichnungen, Logos und Marken sind das Eigentum ihrer
				jeweiligen Rechteinhaber. Als Amazon-Partner verdienen wir an qualifizierten Verkäufen.</div>

			Made with &hearts; in Düsseldorf.<br>
			<a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a> | <a href="#!"
				class="btn-revokeChoice">Cookie-Einstellungen</a> | <a
				href="https://github.com/ConcurrentHashMap/toilettenpapieralarm.de" target="_blank">Mithelfen</a>
		</div>
	</div>
	<script type="text/javascript" src="/cookies.js"></script>
</body>

</html>