html, body {
    background: #fff;
    color: #13293D;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 95%;
}

a {
    color: #0066b3;
}

.red {
    color: #FB3640;
}

.small {
    font-size: 0.75em;
}

.smaller {
    font-size: 0.85em;
}

.smallest {
    font-size: 0.75rem;
}

.logo-container {
    width: 100%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.absolute {
    position: absolute;
}

.logo {
    text-decoration: none;
    font-size: 2rem;
    color: #13293D;
}

.legal {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    text-align: left
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner {
    max-width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: inline-block;
}

.break {
    margin-top: 2rem;
}

.content .big {
    font-size: 4rem;
    font-weight: bold;
}

.bigger {
    font-size: 5rem;
}

.biggest {
    font-size: 7rem;
}

.cta {
    font-size: 2rem;
}

.content .small {
    font-size: 1.5rem;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.copyright {
    margin-bottom: 3vh;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.hashtags {
    max-width: 85vw;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.notes {
    max-width: 85vw;
    margin-bottom: 1.5rem;
}

.cc-revoke.cc-bottom {
    display: none;
}

table {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    padding: 1rem;
}

form.subscribe {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

input[type="email"] {
    border-radius: 15px;
    border: 0;
    background-color: #efefef;
    padding: 1rem;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

input[type="email"]:focus {
    outline: 0;
    box-shadow: 0 0 10px #0066b3;
}

input[type=checkbox] {
    transform: scale(1.25);
}

input[type="submit"] {
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0;
    color: #efefef;
    background-color: #0066b3;
    padding: 1rem;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-appearance: none;
}

input[type="submit"]:focus {
    outline: 0;
}

label.terms {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media all and (max-width: 1023px) {
    html {
        font-size: 66%
    }
    form.subscribe {
        width: 80vw;
    }
}
